.header {
    background: var(--gray-800);
    display:flex;
    justify-content: center;
    padding: 1.25rem 0;
}
.logo{
    height: 2rem;
    margin-right: 1rem;
}
.title {
    font-size: 1.6rem;
}